<style>
    h1 {
        color: blue;
        font-style: italic;
        font-family: Helvetica;
    }
    div.title1 {
        text-align: center;


    }

</style>


<div class="title1 display">

  <h1>About me</H1>
  <h4>WEB TECHNOLOGIES 2024</h4><ul>
  <li>4th year of <i>Civil Engineering in Computer Science</i> at <i>Universidad de los Andes</i></li>
  <li>Loves cats</li>
  <li>Born and raised in Santiago, Chile</li>

</ul>
</div>
