<style>
    h1 {
        color: blue;
        font-style: italic;
        font-family: Helvetica;
    }
    div.title1 {
        text-align: center;


    }

</style>


<div class="title1 display">

  <h1>Contact</H1>
  <h4>WEB TECHNOLOGIES 2024</h4>
  <a href="https://github.com/cjrenco">Link to my Github here!</a>



</div>
