<style>
    h1 {
        color: blue;
        font-style: italic;
        font-family: Helvetica;
    }
    div.title1 {
        text-align: center;
        background-color: aqua;

    }

</style>


<div class="title1 display">

  <h1>Carlos Rencoret</H1>
  <h4>WEB TECHNOLOGIES 2024</h4>
</div>
